build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.gradle/
**/bin/
**/out/

.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

.DS_Store
*.log
.env
